<!DOCTYPE html>
<html>
<head>
    <link href="css/home.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <img src="img/header.png">
    </header>
    <div class="side-nav">
        <ul>
            <li>
                Download
                <ul>
                    <li>Minified</li>
                </ul>
            </li>
        </ul>
    </div>
    <h1>Overview</h1>
    <p>
        Modulus provides your javascript application an Inversion of Control container which allows you to easily register and locate other modules.
    </p>
</body>
</html>