<!DOCTYPE html>
<html>
<head>
    <title>Modulus.js</title>
    <meta name="keywords" content="Javascript Module Definition, Module Library, Service Locator, Module Definition, Javascript Dependency Injection, Dependency Injection, Javascript IoC, Javascript Inversion of Control, Ioc, Inversion of Control, AMD, Asynchronous Module Definition, requirejs alternative, require.js alternative, require.js alternatives, Interface Injection">
    <link href="css/home.css" media="all" rel="stylesheet" type="text/css">
    <link href="img/favicon.png" rel="shortcut icon" type="image/png">
</head>
<body>
    <header>
        <img src="img/header.png">
    </header>
    <!-- Side Navigation -->
    <div id="sideNav" class="side-nav">
        <ul>
            <li>
                Download
                <ul>
                    <li>Minified</li>
                </ul>
            </li>
        </ul>
    </div>
    <section class="main-content">
        <!-- Overview -->
        <h1>Overview</h1>
        <p>
            Modulus provides your javascript application with a Service Locator that allows you to easily register and locate other modules.
        </p>

        <p>
            Modulus simplifies your module definitions by autowiring module function parameters based on the paramater name.  <br/>
            e.g. having a parameter called moduleA in your module function will result in modulus finding moduleA and passing it to your module function. <br/>

            By ensuring that module names are unique, we can simplify resolving modules, and eliminate the need of worrying about paths, etc.
        </p>

        <h2>Service Locator</h2>
        <p>
            Modulus is a <a href="http://en.wikipedia.org/wiki/Service_locator_pattern">Service Locator</a>, in that it provides a central place to register your modules,
            and a means to find modules from within other modules. <br/>
            More specifically, Modulus is a <a href="http://martinfowler.com/articles/injection.html">Dynamic Service Locator</a>, as services are registered and found at runtime.
        </p>

        <h2>AMD Loader</h2>
        <p>
            Modulus provides the ability to intelligently* load module dependencies/scripts during runtime.
        </p>

        <h2>Node.js Build Tool/Script Optimizer</h2>
        <p>
            You can compile your modules into one or more script files to optimize the number of http requests made at runtime.
        </p>

        <h1>API</h1>

        <h2>Defining Modules</h2>
        <p>
            There are several options for defining modules with Modulus.
        </p>

            <h3>Modulus Function</h3>
            <p>
                Modulus provides a simplified version of the typical 'define' and 'require' functions found in other AMD libraries.<br/>
                To do the equivalent of define, simply pass in a named function to the 'm' or 'modulus' function.<br/>
                To do the equivalent of require, simply pass in a unnamed function to the 'm' or 'modulus' function.<br/>
                Modulus can parse the function name and parameters, thus reducing the amount of boilerplate code you need to write.
            </p>
            <div style="display:none">```javascript</div>
            <pre class="brush: js">
                //define a module named 'moduleA' by passing in a named function.
                m(function moduleA(){
                    return {
                        prop1: 123
                    };
                });

                //require moduleA by passing in a unnamed function with a parameter named moduleA
                m(function (moduleA){
                    console.log(moduleA.prop1); //prints 123
                });
            </pre>
            <div style="display:none">```</div>

            <h3>Modulus Function - Explicit Define and Require</h3>
            <p>
                You can also opt to use a requirejs-like api, and explicitly define and require modules.<br/>
                Although, this api is primarily used by the modulus build when protectAgainstMinification is true (default). <br/>
                Since minifiers rename parameter names and remove function names, modulus provides an API which accepts a string for the module name, and an array of string names for the dependencies.
            </p>
            <div style="display:none">```javascript</div>
            <pre class="brush: js">
                //define a module named 'moduleA' by passing in a named function.
                m('moduleA', ['dep1'], function moduleA(dep1){
                    return {
                        prop1: 123
                    };
                });

                //require moduleA by passing in a unnamed function with a parameter named moduleA
                m(['moduleA'], function (moduleA){
                    console.log(moduleA.prop1); //prints 123
                });
            </pre>
            <div style="display:none">```</div>

            <h3>Global Module Functions</h3>
            <p>
                In perhaps the easiest way possible, Modulus allows you to define modules with global functions.<br/>
                Any dependencies on other modules are simply identified via parameter names, where the parameter name matches the name of the desired module. <br/>
                <a href="https://github.com/jasonmcaffee/modulus/issues/21">NOTE: THIS OPTION DOES NOT WORK IN IE8.</a>  <a href="http://blogs.msdn.com/b/ericlippert/archive/2005/05/04/414684.aspx">Global variables are not enumerable in IE8.</a>
            </p>
            <div style="display:none">```javascript</div>
            <pre class="brush: js">
                //defining a module is as simple as creating a function.
                function moduleA(){
                    return {
                        prop1: 123
                    };
                }

                //simply by referencing moduleA, you will get its return value passed in as the parameter value.
                function moduleB(moduleA){
                    return {
                        prop1: moduleA.prop1 + 1 //evaluates to 124
                    };
                }

                //let modulus know to execute moduleB once init has been called.
                moduleB.module = {autoInit:true};

                //the use of global functions means that we must explicitly call init.
                modulus.init({context:window});
            </pre>
            <div style="display:none">```</div>
            <p>
                When using this option for defining modules, we must explicitly call 'init' so that modulus can scan the context for modules. <br/>
                We must also provide module metadata (via moduleB.module), and instruct Modulus to run the moduleB function once init has been called.
            </p>

            <h3>Context Object</h3>
            <p>
                You can also choose to assign modules to a namespace/context object.
            </p>
            <div style="display:none">```javascript</div>
            <pre class="brush: js">
                var ns = {};
                ns.moduleB = function(){
                    return {
                        prop1: 123
                    };
                };

                ns.moduleB = function(moduleA){
                    return {
                        prop1: moduleA.prop1 + 1
                    };
                };

                modulus.init({context:ns});
            </pre>
            <div style="display:none">```</div>


        <h2>Runtime Configuration</h2>
        <p>
            Modulus offers a powerful configuration that allows you to override any function within the Modulus, allowing you to completely customize behavior. <br/>
            Configuration is achieved by calling the 'init' function, and passing in an object literal with the desired settings.
        </p>
        <h3>Shim for 3rd Party Libraries</h3>
        <p>
            To shim third party libraries which do not use the Modulus convention for defining modules, we can provide a shim configuration.  <br/>
            NOTE: You do not need to specify a runtime shim config if you've specified one in your build configuration.
        </p>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            //shim configuration for a few common libraries.
            modulus.init({
                shim:{
                    //define the jquery shim. The key '$' represents the parameter name modules will use to require jquery.
                    //the exports represents the global variable the third party library exposes.
                    '$':{
                        dependencies:[],
                        exports:'$'
                    },
                    '_':{
                        dependencies: [],
                        exports:'_'
                    },
                    //Backbone depends on 2 other 3rd party libraries: jquery and underscore.
                    //We must list those as dependencies so that they are loaded before Backbone is.
                    'Backbone':{
                        dependencies: ['_', '$'],
                        exports:'Backbone'
                    }
                }
            });

            m(function ($, Backbone){
                $('#someId');
                console.log(Backbone.VERSION);
            });

        </pre>
        <div style="display:none">```</div>

        <h3>AMD</h3>
        <p>
            The Modulus AMD API is completely customizable, allowing you to determine any convention or configuration you'd like.<br/>
            To get started, you'll first need to provide a 'asyncFileLoad' function.
        </p>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            m.init({
                //When a module is requested that is not found, and an asyncFileLoad function is provided, asyncFileLoad
                //will be called so that the module can be loaded.
                asyncFileLoad:function(moduleName, callback, errorback){
                    var root = 'js/';                       //custom convention
                    moduleName = this.asyncMap[moduleName]; //custom convention

                    var path = root+moduleName + '.js';
                    $.ajax({
                        url: path,
                        crossDomain:true, //allow local file system cross domain requests.
                        dataType: "script",
                        success: callback
                    }).fail(function(err){errorback(err)});
                },
                //custom configuration entry to help locate modules. (You can create your own convention or configuration)
                asyncMap:{
                    moduleA:'moduleA'
                }
            });
        </pre>
        <div style="display:none">```</div>

        <h4>AMD Loading Behavior</h4>
        <p>
            Modulus attempts to load modules as quickly as possible by using this strategy:<br/>

            Modulus will attempt to asynchronously load any module that is not currently registered (i.e. in modulus.config._modules) when asyncFileLoad is defined.<br/>

            When you require a module asynchronously, the module will first be downloaded, and then it's dependencies will be downloaded simultaneously.<br/>

            Note: this means that the order in which the dependencies are loaded is not guaranteed.<br/>

            When you require a module that has already been loaded, a new asyncFileLoad request will not be made.<br/>

            Shim entries that are asynchronously downloaded will have dependencies loaded first. (e.g. Backbone shouldn't be loaded until underscore is) <br/>

            Shim entry dependencies will be downloaded simultaneously. e.g. if you require Backbone, jquery and underscore will be loaded at the same time.<br/>
        </p>

        <h1>Build Tool/Script Optimization</h1>
        <p>
            Modulus offers a powerful node.js module to help you optimize your project's script files into one (or more) js files.<br/>
            Every aspect of the modulus build is customizable. Modulus exposes all functions through the config so you can override any behavior.<br/>
            The build tool's primary function is finding module dependencies and combining modules together into 1 or more js files. <br/>
            This helps in optimizing your web application, as it results in fewer http requests.
        </p>

        <h2>Install</h2>
        <div style="display:none">```</div>
        <p>npm install modulusjs</p>
        <div style="display:none">```</div>

        <h2>Build</h2>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            var modulus = require('modulusjs');
            modulus.build({
                ...
            }, buildComplete, buildFailure);
        </pre>
        <div style="display:none">```</div>

        <h2>Build Configuration</h2>

        <h3>Shim</h3>
        <p>
           Any scripts which do not follow the modulus convention for registering modules (e.g. third party libs) can be shimmed. <br/>
           Shimming allows us to reference these third party libs as we would any other module in modulus. <br/>
           When a shim is specified for the build configuration, modulus will generate and append a call to modulus which specifies the module's name, dependencies, and a function which returns the global export of the library.
        </p>
        <h4>Example: Generated Modulus Function Call for jQuery</h4>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            (function jquerySrcCode(){...})();

            //generated modulus function call for jquery shim
            m('$', [], function(){ return $;});
        </pre>
        <div style="display:none">```</div>


        <h3>Example Build Configuration</h3>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            modulus.build({
                //the directory which should be scanned to find modules.
                //baseDirectory is combined with modulePattern to form a glob pattern, which finds all modules in the project.
                baseDirectory: 'test/buildtime-project/js', //the directory to scan for modules.
                modulePattern: '**/*.js', //glob pattern matching

                //modulus typically depends on function names and param names to resolve dependencies and register modules.
                //since minifiers can rename params, as well as remove function names, we can ensure modulus still functions
                //by rewriting the modulus function calls to use the expicit define api.
                //e.g. m(function myModule(dep1){...}); gets rewritten to m('myModule', ['dep1'], function(dep1){...});
                protectAgainstMinification: true,

                //the dist configuration tells Modulus which files to combine together, and where to put the combined file(s).
                dist:{
                    //in this example, we demonstrate building 2 optimized files: 'global.js' and 'pageOne.js'.
                    //global.js is placed on each page, and a page.js file should not include any modules found
                    //in global (avoid redundancy)
                    files:{
                        //tell Modulus to build a pageOne.js file and distribute it to our dist directory.
                        //in our source directory, there is a pageOne.js that starts the dependency chain.
                        //modulus will find pageOne's dependencies, and all the dependencies of those dependencies, etc,
                        //until all dependencies are found.
                        //Once all dependencies are found, pageOne.js is written to the dist directory,
                        //and will include all dependencies.
                        './dist/test/buildtime-project/pageOne.js':{
                            dependencies:['pageOne'], //start at module b and include all it's dependencies.
                            //any modules that are defined in global should not be defined in pageOne.
                            //e.g. jquery and other core modules.
                            excludes:['global']
                        },
                        './dist/test/buildtime-project/global.js':{
                            dependencies:['global']
                        }
                    }
                },
                //any modules you want to include that aren't modulus compliant.
                //e.g. myModule($) would get the result of this path
                shim:{
                    '$':{
                        path: 'test/buildtime-project/js/vendor/jquery-1.10.2.min.js',
                        dependencies:[],
                        exports:'$'
                    },
                    'Backbone':{
                        path: 'test/buildtime-project/js/vendor/backbone-1.1.0.min.js',
                        dependencies: ['_', '$'],
                        exports:'Backbone'
                    },
                    '_':{
                        path: 'test/buildtime-project/js/vendor/underscore-1.5.2.min.js',
                        dependencies: [],
                        exports:'_'
                    }
                }

            }, buildComplete, buildError);
        </pre>
        <div style="display:none">```</div>

        <h3>Build Guidelines</h3>
        <p>Only one module per js file is allowed</p>
        <p>The name of the file without the extension is used as the name of the module when resolving dependencies during build.</p>

        <h3>Protecting Against Minification</h3>
        <p>
            Minifiers will rewrite param names and in some cases remove the names of functions.</br>
            To avoid issues with minification, the build process will rewrite module definitions to use strings to explicitly define a module.
        </p>
        <h4>Explicit Define when using the Modulus Function</h4>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            //original
            m(function myModule(dependency1, dependency2){...})
            //becomes
            m('myModule', ['dependency1', 'dependency2'], function myModule(dependency1, dependency2){...})
        </pre>
        <div style="display:none">```</div>

        <h4>Explicit Define when using Global Functions</h4>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            //original
            function myModule(dependency1, dependency2){...}
            //will get this added
            myModule.module = {name: 'myModule', deps:['dependency1', 'dependency2']};
        </pre>
        <div style="display:none">```</div>

        <h4>Explicit Define when Assigning Modules to a Context</h4>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            //original
            var ns = {};
            ns.myModule = function (dependency1, dependency2){...}
            //will get this added
            ns.myModule.module = {name: 'myModule', deps:['dependency1', 'dependency2']};
        </pre>
        <div style="display:none">```</div>

        <h4>Nested Requires</h4>
        <p>
            Modulus will also rewrite nested requires, since they can be affected by minification.
        </p>
        <div style="display:none">```javascript</div>
        <pre class="brush: js">
            //original
            m(function myModule(dependency1, dependency2){
                return {
                    //download a module/script only when needed (nested require dependencies are not included in the build)
                    nestedRequire: function(){
                        //original
                        m(function(someModule){...});
                        //becomes
                        m(['someModule'], function(someModule){...});
                    }
                };
            });
            //becomes
            m('myModule', ['dependency1', 'dependency2'], function myModule(dependency1, dependency2){...})
        </pre>
        <div style="display:none">```</div>

        <h1>Tests</h1>
        <p>
            Modulus is thoroughly tested using Jasmine. <br/>
            Charles proxy is used to simulate slow connections (resources load much slower) <br/>
            You can reference the below table to see the tests in action, as well as reference example project setups.
        </p>
        <table>
            <tr>
                <th>Test Link</th><th>Spec Link</th><th>Test Project Link</th><th>Build File</th><th>Notes</th>
            </tr>
            <tr>
                <td><a href="http://modulusjs.org/test-async-loading.html">Runtime: Async Loading</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/test/async-loading/async-loading-spec.js">async-loading-spec</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/tree/master/test/async-loading">async loading</a></td>
                <td>n/a</td>
                <td>Runtime project which uses the m(function moduleName(){...}) syntax to demonstrate the async loading of modules</td>
            </tr>
            <tr>
                <td><a href="http://modulusjs.org/test-async-loading-global-functions.html">Runtime: Async Loading with Global Functions</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/test/async-loading-global-functions/async-loading-global-functions-spec.js">async-loading-global-functions-spec</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/tree/master/test/async-loading-global-functions">async loading global functions</a></td>
                <td>n/a</td>
                <td>Runtime project which uses the function moduleName(dep1){...} syntax to demonstrate the async loading of modules</td>
            </tr>
            <tr>
                <td><a href="http://modulusjs.org/test-buildtime-project.html">Buildtime: Built Project 1</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/test/buildtime-project/buildtime-spec.js">buildtime-project-spec</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/tree/master/test/buildtime-project">buildtime project 1</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/grunt-tasks/test/buildtime-project/build.js">build.js</a></td>
                <td>Project which defines modules using global functions, and is built into 2 js files: global.js and pageOne.js.</td>
            </tr>
            <tr>
                <td><a href="http://modulusjs.org/test-buildtime-project2.html">Buildtime: Built Project 2</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/test/buildtime-project2/buildtime-spec.js">buildtime-project-spec</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/tree/master/test/buildtime-project2">buildtime project 2</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/grunt-tasks/test/buildtime-project2/build.js">build.js</a></td>
                <td>Project which defines by assigning modules to a context/namespace object, and is built into 2 js files: global.js and pageOne.js.</td>
            </tr>
            <tr>
                <td><a href="http://modulusjs.org/test-buildtime-project3.html">Buildtime: Built Project 3</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/test/buildtime-project3/buildtime-spec.js">buildtime-project-spec</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/tree/master/test/buildtime-project3">buildtime project 3</a></td>
                <td><a href="https://github.com/jasonmcaffee/modulus/blob/master/grunt-tasks/test/buildtime-project3/build.js">build.js</a></td>
                <td>Project which defines by assigning using the modulus function m(function moduleName(dep1){...}), and is built into 2 js files: global.js and pageOne.js.</td>
            </tr>
        </table>

        <h1>Browser Support</h1>
        <p>
            IE8+ (except for the global module functions option)<br/>
            Chrome 26+ (older versions probably work)<br/>
            Firefox 26+ (older versions probably work)<br/>
            Safari 5.5+<br/>
            Android 2.3+<br/>
            iOS 4.0.2+ <br/>
        </p>

        <h1>Try It Out</h1>
        <h2>Codio</h2>
        <p>
            You can play with the specs by going <a href="https://codio.com/jasonmcaffee/modulus/tree/test/async-loading/async-loading-spec.js">here</a> and selecting Project -> Fork. <br/>
        </p>

        <h1>Download</h1>
        <p>
            Modulus is still in Alpha. <br/>
            For now, please refer to the <a href="https://github.com/jasonmcaffee/modulus">Github page</a> for download instructions.
        </p>

        <h1>Open Source</h1>
        <p>
            Modulus is an open source project, and can be found on <a href="https://github.com/jasonmcaffee/modulus">Github</a>.
        </p>

        <h2>License</h2>
        <p>
            <a href="http://opensource.org/licenses/MIT">The MIT License (MIT)</a> <br/>
            Copyright (c) 2013 Jason McAffee
        </p>
    </section>

    <script src="js/modulus.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script>
        m.init({
            shim:{
                'SyntaxHighlighter':{
                    dependencies:[],
                    exports:'SyntaxHighlighter'
                },
                'SyntaxHighlighterWithJsBrush':{
                    dependencies:['SyntaxHighlighter'],
                    exports:'SyntaxHighlighter'
                },
                '$':{
                    dependencies:[],
                    exports:'$'
                }
            },
            asyncMap:{
                'SyntaxHighlighter':'shCore',
                'SyntaxHighlighterWithJsBrush': 'shBrushJScript'
            },
            asyncFileLoad:function(moduleName, callback, errorback){
                var root = 'js/';
                moduleName = this.asyncMap[moduleName];

                var path = root+moduleName + '.js';
                $.ajax({
                    url: path,
                    crossDomain:true, //allow local file system cross domain requests.
                    dataType: "script",
                    success: callback
                }).fail(function(err){errorback(err)});
            }
        });
    </script>

    <script type="text/javascript">
        m(function(SyntaxHighlighterWithJsBrush){
            SyntaxHighlighterWithJsBrush.all();
        });

        //Table of Contents Module
        m(function tableOfContents($){
            var toc = {
                //create links for side nav (table of contents)s
                processHeadings: function(){
                    var result = [], primaryHeading;
                    var self = this;
                    $('h1, h2').each(function(i, item){  //, h3, h4, h5 only concerned with primary headings.
                        var $item = $(item),
                            text = $item.text();
                        $item.attr('id', text);//set the id so #id can be used in the url.

                        if(item.tagName.toLowerCase() == 'h1'){
                            if(primaryHeading){
                                result.push(primaryHeading);
                            }
                            primaryHeading = self._createHeading(text, item.tagName, text);
                            primaryHeading.isPrimary = true;
                        }else{
                            //primaryHeading = primaryHeading || this._createHeading(text, item.tagName, text);
                            primaryHeading.children.push(self._createHeading(text, item.tagName, text));
                        }
                    });
                    result.push(primaryHeading);
                    return result;
                },
                _createHeading: function(text, tagName, id){
                    return {
                        children: [],
                        text: text,
                        type: tagName,
                        id: id
                    };
                }
            };
            return toc;
        });

        //Side Nav Module
        m(function sideNav($, tableOfContents){
            return {
                renderSideNav:function(sideNavId){
                    this.$sideNav = this.$sideNav || $('#'+sideNavId);
                    this.headings = this.headings || tableOfContents.processHeadings();
                    //console.log(JSON.stringify(this.headings, null, 2));
                    var html = this._buildSideNavHtml();
                    this.$sideNav.html(html);

                },
                _buildSideNavHtml:function(){
                    var result = '';
                    for(var i=0; i < this.headings.length; ++i){
                        var headingData = this.headings[i];
                        if(headingData.isPrimary){
                            var childrenHtml = '';
                            for(var x=0; x < headingData.children.length; ++x){
                                var childHeading = headingData.children[x];
                                var el = '<li><a href="#'+ childHeading.id +'">'+ childHeading.text +'</a></li>';
                                childrenHtml += el;
                            }
                            var primaryEl = '<ul><a href="#'+headingData.id+'">'+ headingData.text +'</a>' + childrenHtml + '</ul>';
                            result+=primaryEl;
                        }
                    }
                    return result;
                }
            };
        });

        //Main - wait until doc ready to start processing.
        $(function(){
            //perform dom modifications, such as building the table of contents (side nav)
            m(function(sideNav){
                sideNav.renderSideNav('sideNav');
            });
        });
    </script>
</body>
</html>